* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}

.dark {
    background-color: #29292e;
    min-height: 100vh;
    color: #f8f8f8;
    
    
    h1, span:not(.no-change) {
        color: #f8f8f8 !important;
    }

    .question.answered {
        background: #2d2d31
    }

    .question {
        background: #37373C;
        
        & p {
            color: white;
        }
        
        & span {
            color: #bcb8c5 !important;
        }
    }
}